AZURE_COMOSDB_CONNECTION_STRING=""
AZURE_COSMOSDB_ENDPOINT=""
AZURE_COSMOSDB_NAME=""

AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""
AZURE_OPENAI_EMBEDDING_MODEL=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_LLM_DEPLOYMENT=""
AZURE_OPENAI_LLM_MODEL=""
AZURE_OPENAI_AUTH_SCOPE="https://cognitiveservices.azure.com/.default"

AZURE_AI_SP_CLIENT_ID=""
AZURE_AI_SP_CLIENT_PASS=""

AZURE_SEARCH_API_VERSION=""
AZURE_SEARCH_NAME=""
AZURE_SEARCH_KEY_SECRET_NAME="kv-azure-search-key"

BLOB_ACCOUNT_URL="https://youraccount.blob.core.windows.net"
BLOB_CONNECTION_STRING=""
BLOB_STORAGE_KEY_SECRET_NAME="kv-blob-storage-key"
BLOB_RESOURCE_ID=""

KEY_VAULT_URI="https://yourvault.vault.azure.net/"
CMK_KEY_VAULT_URI=""
CMK_KEY_NAME=""
CMK_MANAGED_IDENTITY_RESOURCE_ID=""

COG_SERVICES_ENDPOINT=""
COG_SERVICES_KEY_SECRET_NAME="kv-cog-services-key"

MANAGED_IDENTITY_RESOURCE_ID="/subscriptions/.../resourceGroups/.../providers/Microsoft.ManagedIdentity/userAssignedIdentities/..."
USE_MANAGED_IDENTITY=true
RESOURCE_GROUP_NAME=""
SUBSCRIPTION_ID=""
TENANT_ID=""
WORKSPACE_NAME=""

AZURE_HTTP_POOL_MAX=32
RATE_LIMIT_REQUESTS=60
RATE_LIMIT_WINDOW_SECONDS=60
