AZURE_COMOSDB_CONNECTION_STRING=""
AZURE_COSMOSDB_ENDPOINT=""
AZURE_COSMOSDB_NAME=""

AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""
AZURE_OPENAI_EMBEDDING_MODEL=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_LLM_DEPLOYMENT=""
AZURE_OPENAI_LLM_MODEL=""
AZURE_OPENAI_AUTH_SCOPE=""

AZURE_AI_SP_CLIENT_ID=""
AZURE_AI_SP_CLIENT_PASS=""

AZURE_SEARCH_API_VERSION=""
AZURE_SEARCH_NAME=""
AZURE_SEARCH_KEY=""

BLOB_STORAGE_ACCOUNT_KEY=""
BLOB_CONNECTION_STRING=""
BLOB_RESOURCE_ID=""

CMK_KEY_VAULT_URI=""
CMK_KEY_NAME=""
CMK_MANAGED_IDENTITY_RESOURCE_ID=""

COG_SERVICES_ENDPOINT=""
COG_SERVICES_KEY=""

MANAGED_IDENTITY_RESOURCE_ID=""
RESOURCE_GROUP_NAME=""
SUBSCRIPTION_ID=""
TENANT_ID=""
WORKSPACE_NAME=""
